* {
    box-sizing: border-box;
    line-height: 24px;
    margin: 0;
    border-radius: 10px;
    overflow: auto;
}

body {
    margin-top: 1%;
    font-family: Arial, sans-serif;
    color: aliceblue;
    background-color: #333333;
    overflow: auto;
}

h1 {
    color: #f97b13;
    line-height: 40px;
    font-size: 40px;
    margin: 10px 0;
    overflow: visible;
}

h2 {
    color: #ffb238;
    line-height: 24px;
    font-size: 24px;
    margin: 6px 0;
    overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:bold;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

image {
    float: inherit;
}

.container {
    width: 100%;
}

.middle {
    width: 65%;
    margin: 0 auto;
    background-color: #222222;
    border: 1.5px solid #2d2d2d;
}

.header {
    color: #ff9d00;
    font-family: Times New Roman, serif;
    background-color: #222222;
    display: inline-block;
    width: 100%;
    border-bottom: 1.5px solid #2d2d2d;
    text-align: center;
}

.header-txt {
    width: 38%;
    padding: 5px;
    padding-left: 25px;
    float: left;
}

.image {
    padding: 5%;
    padding-top: 2%;
    width: 62%;
    height: 80%;
    float: left;
}

.img {
    width: 100%;
}

.menu {
    margin-top: 0;
    margin-right: 4%;
    display: table;
    border-spacing: 30px;
    width: 34%;
    float: left;
    overflow: auto;
}

.row {
    display: table-row;
    width: 100%;
}

.after, .actual {
    color: #ffa354;
    background-color: #454545;
    display: table-cell;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 32px;
    width: 100%;
}

.actual {
    color: #f97b13;
}

.after a, .actual a {
    width: 100%;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (max-width:1500px) {

    .header-txt, .education, .hobby {
        width: 60%;
        padding: 0;
        margin: 1% 10%;
        float: left;
    }

    .menu {
        margin-left: 1%;
        margin-right: 1%;
        width: 32%;
        float: left;
        border-spacing: 25px;
    }

    .hobby {
        margin-top: 20%;
        padding: 2%;
        padding-top: 20%;
    }

    .image {
        margin-top: 0;
    }

    h1 {
        line-height: 32px;
        font-size: 30px;
        margin: 8px 0;
        max-height: 40%;
    }

    h2 {
        line-height: 28px;
        font-size: 24px;
        margin: 6px 0;
        max-height: 40%;
    }

    .after, .actual {
        line-height: 18px;
        font-size: 18px;
    }

    .after a, .actual a {
        padding: 0;
        margin: 2%;
    }
}

@media only screen and (max-width:1000px) {

    .header-txt, .menu, .education, .hobby {
        width: 100%;
        padding: 0;
        margin: 1%;
        text-align: center;
        border-spacing: 15px;
    }

    .hobby {
        margin-top: 3%;
        padding-top: 3%;
    }

    .image {
        display: none;
    }

    h1 {
        line-height: 26px;
        font-size: 24px;
        margin: 6px 0;
        max-height: 40%;
    }

    h2 {
        line-height: 22px;
        font-size: 20px;
        margin: 5px 0;
        max-height: 40%;
    }

    .after, .actual {
        line-height: 18px;
        font-size: 18px;
        margin: 0;
    }

    .after a, .actual a {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width:750px) {

    .header-txt {
        width: 100%;
        padding: 0;
        margin: 1%;
        text-align: center;
    }


    .image {
        display: none;
    }

    h1 {
        line-height: 22px;
        font-size: 20px;
        margin: 4px 0;
        max-height: 40%;
    }

    h2 {
        line-height: 18px;
        font-size: 16px;
        margin: 3px 0;
        max-height: 40%;
    }
}