* {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    border-radius: 10px;
}

body {
    margin-top: 1%;
    font-family: "Arial";
    color: aliceblue;
    background-color: #333333;
}

div {
    height: 100%;
}

h1 {
    color: #f97b13;
    line-height: 40px;
    font-size: 40px;
    margin: 10px 0;
    max-height: 40%;
}

h2 {
    color: #ffb238;
    line-height: 24px;
    margin: 6px 0;
    max-height: 40%;
}

image {
    float: inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.container {
    width: 100%;
}

.middle {
    width: 65%;
    margin: 0 auto;
    background-color: #222222;
    border: 1.5px solid #2d2d2d;
}

.header {
    color: #ff9d00;
    font-family: "Times New Roman";
    background-color: #222222;
    display: inline-block;
    height: 15%;
    width: 100%;
    border-bottom: 1.5px solid #2d2d2d;
    text-align: center;
}

.header-txt {
    width: 38%;
    height: 100%;
    padding: 5px;
    padding-left: 25px;
    float: left;
}

.image {
    padding: 2%;
    width: 62%;
    height: 80%;
    float: left;
}

.img {
    width: 100%;
}

.menu {
    width: 38%;
    height: 80%;
    padding: 5%;
    float: left;
}

.education {
    width: 100%;
    height: 70%;
    padding: 5%;
    float: left;
}

.navEdu {
    height: 12.5%;
    width: 100%;
}

.hobby {
    width: 100%;
    height: 40%;
    padding: 15%;
    margin-top: 10%;
    float: left;
}

.navHobby {
    height: 30%;
    width: 100%;
}

.after {
    color: #ffa354;
    text-align: center;
    line-height: 18px;
    margin: 6px 0;
    font-size: 24px;
}

.actual {
    color: #f97b13;
    text-align: center;
    line-height: 18px;
    margin: 6px 0;
    font-size: 24px;
}

.before {
    color: #ffd196;
    text-align: center;
    line-height: 18px;
    margin: 6px 0;
    font-size: 24px;
}


@media only screen and (max-width:1000px) {

    .header-txt, .menu, .education {
        width: 80%;
        padding: 0;
        margin: 0 10%;
        float: inherit;
    }

    .hobby {
        margin-top: 5%;
    }

    h1 {
        line-height: 24px;
        font-size: 22px;
        margin: 4px 0;
        max-height: 40%;
    }

    h2 {
        line-height: 20px;
        font-size: 18px;
        margin: 4px 0;
        max-height: 40%;
    }

    .after {
        line-height: 14px;
        margin: 3px 0;
        font-size: 18px;
        text-align: center;
    }

    .actual {
        line-height: 14px;
        margin: 3px 0;
        font-size: 18px;
        text-align: center;
    }

    .before {
        line-height: 14px;
        margin: 3px 0;
        font-size: 18px;
        text-align: center;
    }

    .image {
        display: none;
    }
}

@media only screen and (max-width:1500px) {

    .header-txt, .education, .hobby {
        width: 60%;
        padding: 0;
        margin: 1% 10%;
        float: left;
    }

    .menu {
        margin-left: 10%;
        padding: 2%;
        width: 20%;
        float: left;
    }

    .hobby {
        margin-top: 25%;
        padding: 2%;
        padding-top: 25%;
    }

    .image {
        margin-top: 0;
    }

    h1 {
        line-height: 32px;
        font-size: 30px;
        margin: 8px 0;
        max-height: 40%;
    }

    h2 {
        line-height: 28px;
        font-size: 24px;
        margin: 6px 0;
        max-height: 40%;
    }

    .after {
        line-height: 18px;
        margin: 5px 0;
        font-size: 18px;
        text-align: center;
    }

    .actual {
        line-height: 18px;
        margin: 5px 0;
        font-size: 18px;
        text-align: center;
        max-height: 38px;
    }

    .before {
        line-height: 18px;
        margin: 5px 0;
        font-size: 18px;
        text-align: center;
    }
}

@media only screen and (max-width:750px) {

    .header-txt, .menu, .education, .hobby {
        width: 100%;
        padding: 0;
        margin: 1%;
        text-align: center;
    }

    .hobby {
        margin-top: 3%;
        padding-top: 3%;
    }

    .image {
        display: none;
    }

    h1 {
        line-height: 22px;
        font-size: 20px;
        margin: 4px 0;
        max-height: 40%;
    }

    h2 {
        line-height: 18px;
        font-size: 16px;
        margin: 3px 0;
        max-height: 40%;
    }

    .after {
        line-height: 18px;
        margin: 3px 0;
        font-size: 16px;
        text-align: center;
    }

    .actual {
        line-height: 18px;
        margin: 3px 0;
        font-size: 16px;
        text-align: center;
        max-height: 24px;
    }

    .before {
        line-height: 18px;
        margin: 3px 0;
        font-size: 16px;
        text-align: center;
    }
}