* {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    border-radius: 10px;
}

body {
    margin-top: 1%;
    font-family: "Arial";
    line-height: 24px;
    color: aliceblue;
    background-color: #333333;
}

div {
    height: 100%;
}

h1 {
    color: #f97b13;
    line-height: 40px;
    font-size: 40px;
    margin: 10px 0;
    max-height: 40%;
}

h2 {
    color: #ffb238;
    line-height: 24px;
    margin: 6px 0;
    max-height: 40%;
}

h3 {
    line-height: 24px;
    margin: 6px 0;
    max-height: 20%;
}

image {
    float: inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

li {
    max-height: 30%;
}

.container {
    width: 100%;
}

.middle {
    width: 65%;
    margin: 0 auto;
    background-color: #222222;
    border: 1.5px solid #2d2d2d;
}

.header {
    color: #ff9d00;
    font-family: "Times New Roman";
    background-color: #222222;
    display: inline-block;
    height: 15%;
    width: 100%;
    border-bottom: 1.5px solid #2d2d2d;
    text-align: center;
}

.header-txt {
    width: 38%;
    height: 100%;
    padding: 5px;
    padding-left: 25px;
    float: left;
}

.goback {
    margin: 2%;
    padding: 2%;
    max-height: 40%;
    font-size: 110%;
    color: #FF8B14;
    float: right;
    text-align: center;
}

.column1 {
    padding: 2%;
    width: 28%;
    height: 80%;
    float: left;
    text-align: center;
}

.column2 {
    padding: 2%;
    width: 36%;
    height: 80%;
    float: left;
}

.tittle {
    text-align: center;
    color: #FF8B14;
    padding: 1%;
    max-height: 10%;
}

.course {
    background-color: #454545;
    color: #FF8100;
    margin-top: 3%;
    padding: 5%;
    padding-top: 10%;
    max-height: 20%;
}

.description {
    background-color: #454545;
    font-size: 90%;
    color: aliceblue;
    margin-top: 2.2%;
    padding: 1%;
    padding-top: 3%;
    max-height: 20%;
}

.description2 {
    background-color: #454545;
    color: aliceblue;
    margin-top: 2.2%;
    padding: 1%;
    padding-top: 7%;
    max-height: 20%;
}

@media only screen and (max-width:1500px) {

    .header-txt {
        width: 60%;
        padding: 0;
        margin: 1% 10%;
        float: left;
    }

    h1 {
        line-height: 32px;
        font-size: 30px;
        margin: 8px 0;
        max-height: 40%;
    }

    h2 {
        line-height: 28px;
        font-size: 24px;
        margin: 6px 0;
        max-height: 40%;
    }

    li {
        font-size: 95%;
        max-height: 20%;
    }

    .course {
        font-size: 90%;
    }
}

@media only screen and (max-width:1000px) {

    .goback {
        width: 40%;
        margin-top: -12%;
        float: right;
    }

    .header-txt {
        width: 100%;
        padding: 0;
        margin: 1%;
        text-align: center;
    }

    h1 {
        line-height: 26px;
        font-size: 24px;
        margin: 6px 0;
        max-height: 40%;
    }

    h2 {
        line-height: 22px;
        font-size: 20px;
        margin: 5px 0;
        max-height: 40%;
    }

    li {
        font-size: 70%;
        max-height: 20%;
    }

    .tittle {
        font-size: 85%;
    }

    .course {
        font-size: 70%;
    }

    .description {
        font-size: 85%;
        margin-top: 2.2%;
    }
}

@media only screen and (max-width:750px) {

    .middle {
        width: 90%;
    }

    .goback {
        width: 100%;
        margin: 0;
        margin-top: -5%;
        padding: 0;
        position: static;
    }

    .header-txt {
        width: 100%;
        padding: 0;
    }

    h1 {
        line-height: 26px;
        font-size: 24px;
        margin: 6px 0;
        max-height: 25%;
    }

    h2 {
        line-height: 22px;
        font-size: 20px;
        margin: 5px 0;
        max-height: 25%;
    }

    li {
        margin: 0;
        font-size: 65%;
        max-height: 25%;
    }

    .column1, .column2 {
        height: 100%;
    }

    .tittle {
        margin-top: 1%;
        font-size: 70%;
    }

    .course {
        font-size: 55%;
    }

    .description {
        line-height: 16px;
        font-size: 85%;
        margin-top: 2.2%;
    }

    .description2 {
        line-height: 18px;
        font-size: 85%;
        margin-top: 2.2%;
    }
}
